.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}
.textArea {
  margin-top: 20px;
  width: 100%;
}
.input {
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: var(--bg);
  color: var(--textColor);
}
.input:placeholder {
  color: #b3b3b1;
}
.publish {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
.publish:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  left: 50px;
}
.button {
  border-color: #1a8917;
}

.select,
.option {
  margin: 10px 0 0;
  padding: 10px;
  font-weight: 700;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--softTextColor);
  color: var(--softBg);
}
